@import "@/common/presentation/scss/mixins/responsive.mixin";

.ProductsContainer {
  background-color: var(--color-bg-primary);
}

@include media-up(1220px) {
  .ProductsContainer {
    &.SIDEBAR {
      display: grid;
      grid-template-columns: 20% 1fr;
    }
  }
}
