@import "../../../../scss/vars";

.PrivateLayoutContainer {
  background-color: var(--color-bg-primary);
  min-height: 100vh;
  position: relative;

  .PrivateLayoutHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $height-header;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2rem;
    z-index: 2;
  }

  .ConfigContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    justify-content: center;
    gap: 0.5rem;
    color: var(--color-white);
    position: relative;

    .ConfigIconContainer {
      background-color: var(--color-white);
      height: 40px;
      width: 40px;
      border-radius: var(--border-radius-full);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: var(--box-shadow-light);

      & svg {
        color: var(--color-text);
      }
    }

    .ConfigMenu {
      position: absolute;
      background-color: var(--color-white);
      top: 3rem;
      right: 0;
      z-index: 3;
      color: var(--color-text);
      border-radius: var(--border-radius-sm);
      box-shadow: var(--box-shadow-light);

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        padding: 0.5rem 1rem;
        cursor: pointer;
        display: flex;
        gap: 0.5rem;
        min-width: 100px;
      }
    }
  }

  .PrivateLayoutContent {
    min-height: 100vh;
    z-index: 1;
    position: relative;
  }
}
