@import "../../../scss/vars";

.HeaderContainer {
  min-height: $height-header;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .HeaderContent {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .HeaderLinkLogo {
      color: var(--color-white);
      text-decoration: none;
    }

    .HeaderCart {
      position: relative;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: var(--color-white);
      height: 40px;
      width: 40px;
      border-radius: var(--border-radius-full);
      justify-content: center;
      transition: 0.3s;

      &.HasTotal {
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius-md);
        // height: auto;
        width: auto;
      }

      .HeaderCartIcon {
        position: relative;
        color: var(--color-text);
      }

      & span:first-child {
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: var(--color-danger);
        border-radius: var(--border-radius-full);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-white);
        font-size: 0.7rem;
        top: -5px;
        right: -10px;
      }

      & span:last-child {
        font-size: 0.85rem;
      }
    }
  }
}
