@import "../../../scss/vars";

.HeaderContainer {
  min-height: $height-header;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .HeaderContent {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .HeaderLinkLogo {
      color: var(--color-white);
      text-decoration: none;
    }

    .HeaderCart {
      position: relative;
      text-decoration: none;

      & span {
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: var(--color-danger);
        border-radius: var(--border-radius-full);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-white);
        font-size: 0.7rem;
        top: -5px;
        right: -10px;
      }
    }
  }
}
