@import "../../../scss/vars";
@import "@/common/presentation/scss/mixins/responsive.mixin";
@import "@/common/presentation/scss/vars";

.HeaderContainer {
  min-height: $height-header;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.HeaderContent {
  padding: 1rem 2rem;
  display: flex;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "logo cart"
    "search search";
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.HeaderLinkLogo {
  color: var(--color-white);
  text-decoration: none;
  grid-area: logo;
  transition: 0.3s;

  figure {
    width: 70px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.FatherSearch {
  display: none;
}

.HeaderSearch {
  grid-area: search;
  transition: 0.3s;
}



.HeaderOptions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  grid-area: cart;
  justify-content: flex-end;
  transition: 0.3s;
}

.HeaderMenu {
  height: 100%;
  display: none;

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  li a {
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 0.3rem;

    & svg {
      font-size: 1.5rem;
    }

    & span {
      display: none;
    }
  }
}

.HeaderCart {
  // grid-area: cart;
  border: none;
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-white);
  // height: 45px;
  // width: 20px;
  border-radius: var(--border-radius-full);
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;

  &.HasTotal {
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-md);
    // height: auto;
    width: auto;

    .Total {
      display: none;
    }
  }

  .HeaderCartIcon {
    position: relative;
    color: var(--color-text);

    // & svg {
    //   font-size: 2.5rem;
    // }
  }

  .HeaderCartIconCart {
    position: relative;
    color: var(--color-text);

    // & svg {
    //   font-size: 1.2rem;
    // }
  }

  

  & span:first-child {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: var(--color-danger);
    border-radius: var(--border-radius-full);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-size: 0.7rem;
    top: -5px;
    right: -10px;
  }

  & span:last-child {
    font-size: 0.85rem;
  }
}

@include media-up($breakpoint-md) {
  .HeaderContent {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo search cart";
    align-items: center;
    display: grid;
  }

  .FatherSearch {
    display: block;
  }

  .HeaderSearch {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &>div {
      width: 100%;
    }
  }


  .HeaderLinkLogo {
    figure {
      width: 110px;
    }
  }
  

  .HeaderOptions {
    gap: 1rem;
  }

  .HeaderMenu {
    display: block;
    ul li a {
      & span {
        display: inline;
      }
    }
  }

  .HeaderCart {
    height: 40px;
    width: 40px;
    &.HasTotal {
      .Total {
        display: block;
      }
    }
    .HeaderCartIcon {
      position: relative;
      color: var(--color-text);
  
      & svg {
        font-size: 1.5rem;
      }
    }
  }


}

@include media-up($breakpoint-lg) {
  .HeaderSearch {
    width: 50%;
  }
}