.AuthMethodSelectionContainer {
  .AuthMethodSelectionList {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .AuthMethodSelectionItem {
    min-height: 85px;
    align-items: center;
    background-color: var(--color-white);
    border-radius: var(--border-radius-md);
    cursor: pointer;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 30px;
    padding: 1rem;
    transition: 0.3s;
    box-shadow: var(--box-shadow-light);

    & svg {
      color: var(--color-primary);
      font-size: 1.5rem;
    }

    &:hover {
      box-shadow: var(--box-shadow-medium);
    }

    .AuthMethodSelectionItemIcon {
      display: flex;
      gap: 1rem;

      & svg {
        width: 35px;
      }
    }

    .AuthMethodSelectionItemText {
      display: flex;
      flex-direction: column;

      span:first-child {
        font-weight: bold;
      }

      span:last-child {
        font-size: 0.8rem;
        margin-top: 0.2rem;
      }
    }

    .AuthMethodSelectionItemArrow {
      text-align: end;
    }
  }
}
