@import "@/common/presentation/scss/mixins/responsive.mixin";
@import "@/common/presentation/scss/vars";

.BranchItemContainer {
  background-color: var(--color-white);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-light);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .BranchItemCode {
    color: var(--color-label);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    h3 {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  &:hover {
    box-shadow: var(--box-shadow-medium);
  }
}

.BranchItemBillContainer {
  background-color: var(--color-white);
  border-radius: var(--border-radius-md);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 5px;

  .BranchItemBill {
    color: var(--color-label);
    display: flex;
    gap: 0.5rem;

    h3 {
      font-size: 1rem;
      font-weight: normal;
    }

    figure {
      margin-top: 5px;
      margin-left: -10px;
      margin-right: 5px;

      img {
        width: 80px;
        height: auto;
      }
    }

    .valuePending {
      color: #e71939;
      font-weight: 650;
    }

    .valueSold {
      color: green;
      font-weight: 650;
    }
    .BranchCheck {
      margin: auto;
      width: 20px;
      height: auto;
    }
  }

  &:hover {
    box-shadow: var(--box-shadow-light);
  }
}

.BranchItemBillFather {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .bills {
    overflow: auto;
    max-height: 300px;
    padding: 0 3px 0 10px;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #8b8b8b;
      border-radius: 20px;
    }
  }

  & .paymentContainer {
    .titleTotal {
      h2 {
        color: #1976d2;
      }
      label {
        color: #1976d2;
        font-weight: 800;
        font-size: 1.3rem;
      }
      display: flex;
      align-items: center;
      justify-content: space-around;
      //background-color: #f07a8c;
    }

    .paymentButton {
      border: none;
      display: flex;
      justify-content: center;
      margin-top: 5px;

    }
  }
}

.card {
  border-radius: 40px;
  height: 100%;
  width: 100%;
  box-shadow: 0 3px 7px -1px #a8a8ab;
  padding: 10px;
  background-color: #fff;
}

.contentCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
}
// -------------------------------------------
@include media-up($breakpoint-md) {
  .card {
    border-radius: 40px;
    height: 100%;
    width: 100%;
    box-shadow: 0 3px 7px -1px #a8a8ab;
    padding: 10px;
    background-color: #fff;
  }

  .contentCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
  }

  .buttonPay {
    border-radius: 15px;
    border: none;
    box-shadow: #bebaba 0px 2px 0px 0px;
    background-color: #e71939;
    color: white;
    width: 150px;
    height: 30px;
    cursor: pointer;
  }

  .inputPay {
    border-radius: 15px;
    width: 150px;
    height: 30px;
    padding-left: 10px;
  }

  .BranchItemContainer {
    cursor: pointer;
    align-items: center;
    justify-content: space-between;

    .BranchItemCode {
      flex-direction: row;
      align-items: center;
    }
  }

  .BranchItemBillFather {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;

    & .bills {
      width: 50%;
      display: flex;
      flex-direction: column;
      border-radius: 20px;

      .BranchItemBillContainer {
        .BranchItemBill {
          gap: 20px;
          h3 {
            display: grid;
          }
        }
      }
    }

    & .paymentContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #f07a8c;

      //background-color: rgb(255 255 255 / 53%);
      background-color: rgb(255, 255, 255);
      box-shadow: var(--box-shadow-medium);
      border-radius: 1rem;

      & .titleTotal {
        display: flex;
        align-items: baseline;

        gap: 0.5rem;
      }

      & .paymentButton {
        background-color: transparent;
        cursor: pointer;
        transition: all 0.5s;
        padding: 0.75rem;
        border-radius: 50%;

        &:hover {
          background-color: #ededed;
          box-shadow: var(--box-shadow-medium);
        }
      }
    }
  }
}
