@import "@/common/presentation/scss/mixins/responsive.mixin";
@import "@/common/presentation/scss/vars";
@import "@/common/presentation/scss/base/container";

.ProductListContainer {
  padding: 0.0rem 0rem;
  margin-bottom: 50px;
  .ProductListContent {
    // @extend .Container;
    .uploadCart{
      cursor: pointer;
      display: flex;
      position: absolute;
     right: 1.5rem;
     top: 1.5rem;
     svg{
      color: var(--color-primary);
     }
    }
  }
}


.ProductListSuggested .mover-1 {
  animation: moveSlideshow 2s linear infinite;
}
.ProductListSuggestedContent .mover-1 {
  animation: moveSlideshow 2s linear infinite;
}

.ProductList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  transition: 0.3s;

  &.vertical {
    grid-template-columns: repeat(1, 1fr);
  }
}


.iconType{
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-top: -40px;
}



@include media-up(390px) {
  .ProductList {
    &.vertical {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

@include media-up($breakpoint-md) {
  .ProductList {
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);

    &.vertical {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .ProductListContainer {
    padding: 2rem;

  }
}

@include media-up(855px) {
  .ProductList {
    &.vertical {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@include media-up($breakpoint-lg) {
  .ProductList {
    grid-template-columns: repeat(3, 1fr);

    &.vertical {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@include media-up(1280px) {
  .ProductList {
    &.vertical {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}