@import "@/common/presentation/scss/mixins/responsive.mixin";
@import "@/common/presentation/scss/vars";

.StepLayoutContainer {
  padding-bottom: 2rem;

  .StepLayoutInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & p {
      font-size: 0.9rem;
      margin-top: 0.5rem;
    }
  }

  .StepLayoutIconContainer {
    height: 50px;
    width: 50px;
    border-radius: var(--border-radius-full);
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow-medium);

    & svg {
      font-size: 1.5rem;
      color: var(--color-white);
    }
  }

  .StepLayoutContent {
    margin: 1.5rem 0;
  }

  .StepLayoutButtons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .StepButtonBack {
      display: none;
    }
  }
}

@include media-up(920px) {
  .StepLayoutContainer {
    .StepLayoutInfo {
      & p {
        font-size: 1rem;
      }
    }

    .StepLayoutButtons {
      flex-direction: row;
      justify-content: space-between;

      .StepButtonBack {
        display: block;
      }
    }
  }
}
