@import "../vars";

.Container {
  max-width: $max-width;
  margin: 0 auto;
}

.title {
  color: var(--color-primary);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-input-border);
}
