.ContactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-light);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.ContactInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
