@import "@/common/presentation/scss/mixins/responsive.mixin";
@import "@/common/presentation/scss/vars";

.HomePageContainer {
  min-height: 100vh;
  background-color: var(--color-bg-primary);
  padding: 4rem 2rem;

  .HomePageHeader {
    margin-bottom: 2rem;

    .HomePageHeaderOptions, .LogoutContainer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    .LogoutContainer{
      justify-content: center;
      gap: 0.5rem;

      & svg{
        cursor: pointer;     
      }

      & span{
        display: none;
      }
    }

    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.2rem;
      color: var(--color-cancel);
      font-weight: normal;
    }
  }

  .BusinessListContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}


@include media-up($breakpoint-md) {
  .HomePageContainer {

    .HomePageHeader{
      .LogoutContainer{
        & span{
          display: inline-block;
        }
      }
    }

    .BusinessListContainer{
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
  }
}
