@import "@/common/presentation/scss/mixins/responsive.mixin";
@import "@/common/presentation/scss/vars";
@import "../../../../../common/presentation/scss/vars";
 
.HomePageContainer {
  padding: $height-header 2rem 4rem;
  position: relative;
  color: var(--color-secondary);
 
  .HomeBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70%;
    border-radius: 0 0 50% 0px;
    background-color: var(--color-primary);
    transition: 0.3s;
  }
 
  .HomePageHeader {
    position: relative;
    z-index: 2;
    margin-bottom: 2rem;
 
    .HomePageHeaderOptions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
 
    h1 {
      font-size: 1.8rem;
    }
 
    h2 {
      font-size: 1.2rem;
      color: var(--color-cancel);
      font-weight: normal;
    }
  }
 
  .BusinessListContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    position: relative;
    z-index: 2;
  }
 
  .BusinessListContainer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    box-sizing: border-box;
 
  }
}
 
@include media-up($breakpoint-md) {
  .HomePageContainer {
    .BusinessListContainer {
      display: grid;
      position: relative;
      z-index: 2;
      //grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
    }
 
 
    .HomeBackground {
      border-radius: initial;
    }
  }
}