.containerWompy {
    margin-top: 50px;
    margin-left: 20px;
    width: 100%;

    height: calc(100vh - 550px);
    display: grid;
    justify-content: space-around;

    .containerIcon {
        width: 130px;

        .success-animation {
            text-align: center;
            margin-top: 20px;
        }

        .checkmark {
            margin-top: 10px;
            display: inline-block;
        }
    }

    .containerIconError {
        width: 220px;
       

        .success-animation {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .checkmark {
            margin-top: 10px;
            display: inline-block;
        }
    }

    .resumePay {
        display: grid;
        margin-top: 50px;
        margin-left: -60px;
        p{
            font-size: 1.0rem;
            font-weight: 600;
            color: #123C5C;
        }

        label {
            display: flex;
            margin-top: 10px;

            .title {
                font-size: 1.2rem;
                font-weight: 600;
                color: #123C5C;
            }

            .value {
                font-size: 0.9rem;
                font-weight: 600;
                color: #656568;
                margin-left: 10px;
                position: absolute;
                right: 0px;
                padding-top: 5px;
            }
        }

        h2 {
            margin-top: 10px;
            font-size: 1.2rem;
            font-weight: 700;
            color: #123C5C;
          
        }
    }

    .containerButton {
        display: grid;
        button {
            border: 1px solid #123C5C;
            background-color: #123C5C;
            color: white;
            border-radius: 5px;
            width: 200px;
            height: 40px;
            margin-top: 20px;
            
        }
    }

}