@import "@/common/presentation/scss/mixins/responsive.mixin";
@import "@/common/presentation/scss/vars";

.OrderSummaryContainer {
  h2 {
    font-size: 1.2rem;
  }

  .OrderSummaryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0;

    &.Total {
      font-weight: bold;
      color: var(--color-primary);
    }
  }

  .OrderSummarySeparator {
    display: none;
  }
}

.infoDeliveryDate {
  padding: 5px;
  font-weight: 600;
  border-style: dashed;
  border-color: #e71939;
  color: #757575;
}

.ContentInfoDeliveryDate {
  margin-top: 10px;
  text-align: center;
  color: #756f6f;
  margin-bottom: 1rem;
}

.OrderSummaryData {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;

  .OrderSummaryDataItem {
    border-bottom: 1px solid var(--color-input-border);
    padding: 1rem 0;
  }

  .DateDelivery {
    button {
      margin-top: 1rem;
    }
  }

  .PaymentMethodsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    cursor: pointer;
  }

  .PaymentMethodsItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;


    svg {
      font-size: 1.5rem;
    }
  }
}

@include media-up($breakpoint-md) {
  .OrderSummaryContainer {
    height: 100%;
    display: flex;
    flex-direction: column;

    .OrderSummarySeparator {
      display: block;
      flex: 1;
    }

    button {
      justify-self: end;
    }
  }

  .OrderSummaryData {
    &.IsOpenCalendar {
      -ms-overflow-style: none;
      /* Internet Explorer 10+ */
      scrollbar-width: none;
      /* Firefox */
  
      height : calc(100vh - 000px);
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
      }
    }
  }
}