@import "@/common/presentation/scss/mixins/responsive.mixin";
@import "@/common/presentation/scss/vars";

.MenuContent {
  margin-left: 0px;
  padding: 6rem 2rem 2rem;
  transition: 0.3s;

  h1 {
    margin-bottom: 2rem;
  }
}

@include media-up($breakpoint-md) {
  .MenuContent {
    margin-left: 300px;
    padding: 2rem 4rem;
  }
}
