@import "@/common/presentation/scss/base/container";

.ProductBanner {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;

  &.list {
    background-color: var(--color-white);
  }

  &.basic {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .ProductBannerContainer {
      @extend .Container;
    }
  }
}
