@import "@/common/presentation/scss/mixins/responsive.mixin";
@import "@/common/presentation/scss/vars";

.product-banner {
 
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
    
  }
}

@include media-up($breakpoint-md) {
  .product-banner {
    &.basic {
      border-radius: var(--border-radius-md);
      .swiper-slide {
        max-height: 370px;
      }
    }

    &.hero {
      .swiper-slide {
        width: 100%;

        & img {
          object-fit: cover;
        }
      }
    }
  }
}
