@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./vars";
@import "./globals";
@import "./mixins/responsive.mixin";
@import "./base/animations";
@import "./base/container";

:root {
  --box-shadow-light: 0px 0px 12px -4px rgba(168, 168, 171, 1);
  --box-shadow-medium: inset 0em 0em 0em rgb(0 0 0 / 10%),
    0em 0.25em 1em rgb(0 0 0 / 24%);
  --box-shadow-top: 0 -2px 15px rgba(0, 0, 0, 0.2);

  --color-bg-primary: #f3f4f5;

  --border-radius-xs: 5px;
  --border-radius-sm: 10px;
  --border-radius-md: 20px;
  --border-radius-full: 50%;

  --color-primary: #123c5c;
  --color-secondary: #f4d224;
  --color-text: #132436;

  --color-success: #48c774;
  --color-success-rgb: "46,204,113";
  --color-warning: rgb(255, 204, 0);
  --color-warning-rgb: "255,204,0";
  --color-danger: #ff3860;
  --color-danger-rgb: "255,56,96";
  --color-cancel: #b4b2b3;

  --color-input-border: #e2e8f0;
  --color-label: #718096;
  --color-white: #ffffff;
}

* {
  font-family: $font-type-main;
}

body {
  color: var(--color-text);
}

.no-scroll {
  overflow: hidden;
}
